<navbar>
    <div class="navbar-buttons">
        <a type="button" onclick="route('/albums')">
            <span icon>album</span>
            <span>Albums</span>
        </a>
        <a type="button" onclick="route('/artists')">
            <span icon>artist</span>
            <span>Artists</span>
        </a>
        <a type="button" onclick="route('/playlists')">
            <span icon>queue_music</span>
            <span>Playlists</span>
        </a>
    </div>
</navbar>
<main>
    <div class="album-container">
        <div class="album-front">
            <img
                class="album-cover"
                src="/cover/{{ album[0] }}"
                alt="Album cover"
            />
            <div class="album-details">
                <h1>{{ album[1] }}</h1>
                <p>{{ album[2] }}</p>
                <button
                    class="btn-play"
                    onclick="mezzo.playAlbum('{{ album[0] }}')"
                >
                    <span icon>play_arrow</span>
                </button>
            </div>
        </div>
        <ul class="tracklist">
            {% for song in songs %}
            <li class="track" onclick="mezzo.playTrack('{{ song[0] }}')">
                <span class="track-number">{{ loop.index }}</span>
                <span class="track-title">{{ song[1] }}</span>
                <span class="track-duration">2:23</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>
