<navbar>
    <div class="navbar-buttons">
        <a type="button" onclick="route('/albums')" active>
            <span icon>album</span>
            <span>Albums</span>
        </a>
        <a type="button" onclick="route('/artists')">
            <span icon>artist</span>
            <span>Artists</span>
        </a>
        <a type="button" onclick="route('/playlists')">
            <span icon>queue_music</span>
            <span>Playlists</span>
        </a>
    </div>
</navbar>
<main>
    <div class="item-container">
        <div class="items">
            {% for album in albums %}
            <div class="item" onclick="route('/album/{{album[0]}}')">
                <img
                    src="/cover/{{ album[0] }}"
                    onerror="this.src='/static/deadend.svg'"
                />
                <span>{{ album[1] }}</span>
                <small>{{ album[2] }}</small>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
