<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=5"
        />
        <title>Mezzo</title>
        <link rel="canonical" href="http://localhost:5000/" />
        <meta name="title" content="Mezzo" />
        <meta name="description" content="description" />

        <meta property="og:site_name" content="Mezzo" />
        <meta property="og:title" content="Mezzo" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://localhost:5000/" />
        <meta property="og:description" content="description" />
        <meta
            property="og:image"
            content="https://kaangiray26.github.io/images/buzluk.png"
        />

        <meta property="twitter:card" content="summary" />
        <meta property="twitter:url" content="http://localhost:5000/" />
        <meta property="twitter:title" content="Mezzo" />
        <meta property="twitter:description" content="description" />
        <meta
            property="twitter:image"
            content="https://kaangiray26.github.io/images/buzluk.png"
        />

        <link
            rel="shortcut icon"
            type="image/svg+xml"
            href="/static/favicon.svg"
        />
        <link rel="stylesheet" href="/static/styles.css" />
        <script src="/static/howler.js"></script>
        <script src="/static/routes.js"></script>
        <script src="/static/mezzo.js"></script>
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>
