<div class="player">
    <div class="player-info">
        <img
            class="player-cover"
            src="https://via.placeholder.com/300"
            alt="Album cover"
        />
        <div class="player-details">
            <span ref="player_title"></span>
            <span ref="player_artist"></span>
        </div>
    </div>
    <div class="player-controls">
        <button class="btn-prev" onclick="prev()">
            <span icon>skip_previous</span>
        </button>
        <button class="btn-play" onclick="mezzo.play()">
            <span ref="player_play" icon>play_arrow</span>
        </button>
        <button class="btn-next" onclick="next()">
            <span icon>skip_next</span>
        </button>
    </div>
    <div class="player-options">
        <button class="btn-shuffle" onclick="shuffle()">
            <span icon>shuffle</span>
        </button>
        <button class="btn-repeat" onclick="repeat()">
            <span icon>repeat</span>
        </button>
    </div>
</div>
