<div class="player">
    <div class="player-info">
        <img
            class="player-cover"
            ref="player_cover"
            ref_to="src"
            src="/static/cover.svg"
        />
        <div class="player-details">
            <span ref="player_title"></span>
            <span ref="player_artist"></span>
        </div>
    </div>
    <div class="player-controls">
        <div class="player-buttons">
            <button class="btn-light" onclick="mezzo.prev()">
                <span icon>skip_previous</span>
            </button>
            <button class="btn-play" onclick="mezzo.play()">
                <span ref="player_play" icon>play_arrow</span>
            </button>
            <button class="btn-light" onclick="mezzo.next()">
                <span icon>skip_next</span>
            </button>
        </div>
        <div class="player-progress">
            <small class="player-time" ref="player_current_time">0:00</small>
            <div class="progress-bar" onclick="seek(event)">
                <div ref="progress" ref_to="style" class="progress"></div>
            </div>
            <small class="player-time" ref="player_duration">0:00</small>
        </div>
    </div>
    <div class="player-options">
        <button class="btn-option" onclick="mezzo.openQueue()">
            <span icon>queue_music</span>
        </button>
        <!-- <button class="btn-shuffle" onclick="shuffle()">
            <span icon>shuffle</span>
        </button>
        <button class="btn-repeat" onclick="repeat()">
            <span icon>repeat</span>
        </button> -->
    </div>
</div>
